*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  hsl(0, 0%, 98%);
    font-size: 18px;

}
.container {
    max-width: 475px;
    margin: 2rem auto;
    padding: 0.5rem 2rem;
    position: relative;
    /* border: 2px solid red; */
}
.header-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.image-logo {
    width: 100%;
}
.menu-btn {
    border: transparent;
    cursor: pointer;
}
.image {
    max-width: 100%;
}
.title {
    text-align: center;
    margin-bottom: 1.7rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.title h1 {
    margin-right: 7px;
}
.text {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}
.text p {
    color: hsl(0, 0%, 41%);
    margin-bottom: 2.3rem;
}
#btn {
    background-color: hsl(0, 0%, 8%);
    color:hsl(0, 0%, 98%);
    padding: 0.75rem 2rem;
    border-radius: 11px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;
}
#btn:hover {
    background-color: transparent;
    color:hsl(0, 0%, 8%);
}
.footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    width: 100%;
}
.aside {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: hsl(0, 0%, 98%);
    width: 0;
    transition: all 0.3s linear;
}
.close-btn {
    border: transparent;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1rem;
    background-color: hsl(0, 0%, 98%);
    display: none;
    visibility: hidden;
}
/* to close the side bar */
.sidebar {
    width: 325px;
}

.show-icon {
    display: block;
    visibility: visible;
}
.background-change {
    background-color: hsl(0, 0%, 41%);
}
.nav {
    margin-top: 7rem;
    margin-left: 1.5rem;
    display: none;
    transition: all 0.3s linear;  
}
.show-nav {
    display: block;
    visibility: visible;
}

.nav ul {
    margin-bottom: 1rem;
    /* display: block; */
    /* note  */
}

ul li {
    margin-bottom: 1rem;
    list-style: none;
}
li > span {
    margin-left: 10px;
}
a {
    text-decoration: none;
    color:hsl(0, 0%, 41%);
    transition: all 0.3s linear;
}
 a:hover {
    color: hsl(0, 0%, 8%);
}
.drop-down .dropdown-menu {
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.dropdown-menu .list {
    margin-bottom: 1rem;
    cursor: pointer;
    color:hsl(0, 0%, 41%);
}
.dropdown-menu {
    display: block;
    min-width: 50px;
    z-index: 1;
    transition: all 0.3s linear;
}
.hide-list {
    display: none;
}
.nav-btn {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
}

/* display of the arrow direction */
.hide {
    display: none;
}

.login {
    display: none;
    visibility: hidden;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1140px;
        /* min-height: 100vh; */
        width: 80vw;
        padding: 0;
        /* border: 2px solid purple; */
        display: grid;
        place-content: center;
    }
    .display {
        display: inline-flex;
        flex-direction: row-reverse;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin: 5rem 5rem;
        /* min-height: 100vh; */
    }
    .image-logo .image {
       /*  max-width: 450px; */
        /* min-height: 85vh; */
        margin-left: 30px;
        width: 29rem;
        object-fit: contain;
        margin-right: 0;
        
    }
    .image {
        object-fit: contain;
        margin: 0 0;
    }
    .text {
        margin-right: 45px;
    }
    .context .title {
        font-size: 29px;
       /*  text-align: left;
        display: flex;
        float: right; */
        display: inline;
        text-align: left;
    }
    .aside {
        /* display: flex;
        align-items: center;
        justify-content: space-evenly; */
        height: auto;
        position: relative;
        /* top:0;
        left: 0; */
        /* width: 200px; */

        width: auto;
    }
    .menu-btn {
        display: none;
        visibility: hidden;
    }
    .nav {
        /* display: flex; */
        display: block;
        visibility: visible;
        margin-top: 0;
        margin-bottom: 0;
        /* justify-content: space-between;
        align-items: center; */
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* margin-top: 1rem; */
        width: auto;
        margin-bottom: 0;
    }
    .drop-down > .div {
        display: flex;
        margin-right: 1.5rem;
    }
    li > .div {
        margin-right: 1.5rem;
    }
    .header-center {
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        margin: 0;
        width: 450px;
        height: 100px;
    }
    .header-center > img {
        margin-right: 1rem;
    }
    .drop-down {
        position: relative;
    }
    .dropdown-menu {
       /*  display: block; */
        position: absolute;
        width: auto;
        border:2px solid white;
        border-radius: 8px;
        top: 2rem;
        left: -0.5rem;
        padding: 0.5rem 1rem 0.1rem;
        margin-left: 5px;
        margin-right: 5px;
        /* background-color: white; */
        box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
       
    }
    .position {
        /*  display: block; */
        position: absolute;
        width: auto;
        border:2px solid white;
        border-radius: 8px;
        top: 2rem;
        left: -3.5rem;
        padding: 0.5rem 1rem 0.1rem;
        margin-left: 5px;
        margin-right: 5px;
        box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
    }
    
    .drop-down .dropdown-menu {
        margin: 0;
    }
    .login {
        display: flex;
        align-items: center;
        justify-content: space-between;
        visibility: visible;
        position: absolute;
        right: 0;
        width: 170px;
    }
    #btn-inverse {
        border: 2px solid hsl(0, 0%, 41%);
        background: transparent;
        padding: 0.5rem 1rem;
        border-radius: 0.6rem;
        transition: all 0.3s linear;
    }
    #btn-inverse:hover {
        color:hsl(0, 0%, 8%);
        border: 2px sloid hsl(0, 0%, 8%);
    }
}
